{% extends 'layout.html' %}

{% block body %}
<div class="flight">
    <h3>Flight {{ flight.id }}</h3>
    <ul>
        <li>Origin: {{ flight.origin }}</li>
        <li>Destination: {{ flight.destination }}</li>
        <li>Duration: {{ flight.duration }}</li>
    </ul>
    <h3>Passengers in Flight {{ flight.id }}</h3>
    <ul>
        {% for person in passengers %}
        <li>{{ person }}</li>
        {% empty %}
        <li>No Passengers</li>
        {% endfor %}
    </ul>
    <h2>Add a new Passenger</h2>
    <form action="{% url 'book' flight.id %}" method="post">
        {% csrf_token %}
        <select name="info">
            {% for passenger in non_passengers %}
            <option value="{{ passenger.id }}">
                {{ passenger }}
            </option>
            {% endfor %}
        </select>
        <input type="submit" value="Submit">
    </form>
    <a href="{% url 'main' %}">Back to List of all Flights</a>
</div>

{% endblock %}